/* Form elements */

.noplugin-content button, .tippy-box[data-theme~='noplugin-tippy-theme'] button {
  color: #FFFFFF !important;
  font-family: Arial, Helvetica, sans-serif !important;
  background: #4b4b4b !important;
  border: 1px solid #272727 !important;
  border-radius: 5px !important;
}

.noplugin-content button:active, .tippy-box[data-theme~='noplugin-tippy-theme'] button:active {
  background: #3f3f3f !important;
}

/* Content dialogs */

.noplugin {
  font-family: Arial, Helvetica, sans-serif !important;
  overflow: auto !important;
  box-shadow: inset 0px 0px 0px 1px #000000 !important;
  box-sizing: border-box !important;
  border: 0px !important;
  background: #333333 !important;
  margin: 0px !important;
  min-height: 200px !important;
  min-width: 250px !important;
  display: table !important;
  -webkit-user-select: none !important;
  cursor: default !important;
}
.noplugin-content {
  display: table-cell !important;
  vertical-align: middle !important;
  text-align: center !important;
  padding: 3% !important;
  font-size: 100% !important;
  color: #FFFFFF !important;
  font-style: normal !important;
}
.noplugin-content button {
  margin-top: 10px !important;
  padding: 5px 10px !important;
}

/* Tippy-specific styles */

.tippy-box[data-theme~='noplugin-tippy-theme'] {
  font-family: Arial, Helvetica, sans-serif !important;
  line-height: 30px;
}

.tippy-box[data-theme~='noplugin-tippy-theme'] button {
  margin-left: 8px !important;
}