/* Attempt to use system font */
.noplugin, .noplugin a, .noplugin a:hover, .noplugin button, .noplugin-popup, .noplugin-popup a {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.noplugin {
	overflow: auto !important;
	box-shadow: inset 0px 0px 0px 1px #212121 !important;
	box-sizing: border-box !important;
	border: 0px !important;
	background: #424242 !important;
	margin: 0px !important;
	padding: 3% !important;
	color: #FFFFFF !important;
	font-size: 90% !important;
	min-height: 100px !important;
	font-style: normal !important;
	display: table !important;
	-webkit-user-select: none !important;
	cursor: default !important;
}
.noplugin-content {
	display: table-cell !important;
	vertical-align: middle !important;
}
.noplugin a {
	color: #FFFFFF !important;
	text-decoration: underline !important;
	background: transparent !important;
}
.noplugin a:hover {
	color: #f1f1f1 !important;
	text-decoration: underline !important;
	background: transparent !important;
	font-style: normal !important;
}
.nopluginvideo {
	background: url('chrome-extension://__MSG_@@extension_id__/img/preloader.gif') no-repeat center #424242 !important;
	box-shadow: inset 0px 0px 0px 1px #212121 !important;
}
.nopluginaudio {
	background: #212121 !important;
	box-shadow: inset 0px 0px 0px 1px #212121 !important;
}
.nopluginvideo::-webkit-media-controls-panel, .nopluginaudio::-webkit-media-controls-panel {
	border-radius: 0px !important;
	background: #212121 !important;
	margin: 0px !important;
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
}
.nopluginvideo::-webkit-media-controls-play-button, .nopluginaudio::-webkit-media-controls-play-button {
	width: 25px !important;
	height: 25px !important;
	line-height: 30px !important;
	margin-left: 12px !important;
    margin-right: 12px !important;
}
.nopluginvideo::-webkit-media-controls-mute-button, .nopluginaudio::-webkit-media-controls-mute-button {
	width: 25px !important;
    height: 25px !important;
    line-height: 30px !important;
}
.nopluginvideo::-webkit-media-controls-fullscreen-button, .nopluginaudio::-webkit-media-controls-fullscreen-button {
	width: 25px !important;
    height: 25px !important;
    line-height: 30px !important;
}
.nopluginvideo::-webkit-media-controls-timeline, .nopluginvideo::-webkit-media-controls-volume-slider, .nopluginaudio::-webkit-media-controls-timeline, .nopluginaudio::-webkit-media-controls-volume-slider {
	height: 2px !important;
}
.nopluginvideo::-webkit-slider-runnable-track, .nopluginaudio::-webkit-slider-runnable-track {
	background-color: #424242 !important;
}
.nopluginvideo input[type="range" i]::-webkit-media-slider-thumb, .nopluginaudio input[type="range" i]::-webkit-media-slider-thumb {
	color: #737373 !important;
}
.nopluginlogo {
	background: url('chrome-extension://__MSG_@@extension_id__/img/icondark.png') no-repeat center;
	background-size: contain;
	margin-bottom: 3px;
	width: 128px;
	height: 40%;
}
.noplugin-popup {
	background: url('chrome-extension://__MSG_@@extension_id__/img/icon20-dark.png') no-repeat 13px center, linear-gradient(to bottom, #fef1b3 0%,#fae692 100%);
	height: 36px;
	z-index: 10000000 !important;
	line-height: 36px;
	border-bottom: 1px solid #aaaaab;
	color: #44433c !important;
	font-size: 16px !important;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	-webkit-user-select: none !important;
	cursor: default !important;
}
.noplugin-popup .noplugin-message {
	float: left;
	width: calc(100% - 180px);
	margin-left: 47px !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
}
.noplugin-popup a {
	background: linear-gradient(to bottom, #fffde2 0%,#fdf4d4 37%,#fcf1be 58%,#fcecb2 79%,#feeeb3 89%,#fcecb2 95%,#faeeba 100%) !important;
	text-decoration: none !important;
	border: 1px solid #998d56 !important;
	border-radius: 4px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
	font-weight: normal !important;
	font-size: 14px !important;
	float: right;
	margin-right: 10px;
	color: #44433c !important;
	line-height: 25px !important;
}
.noplugin-popup a:visited {
	color: #44433c !important;
}
.noplugin-popup a:hover {
	color: #000000 !important;
}

@media (max-width: 220px) {
	.noplugin-popup .noplugin-message {
		display: none !important;
	}
	.noplugin-popup a {
		float: left !important;
		margin-left: 47px !important;
		white-space: nowrap !important;
		overflow: hidden !important;
	}
}

/* Opera-specific styles */

html.opera .noplugin-popup {
	background: url('chrome-extension://__MSG_@@extension_id__/img/icon20-dark.png') no-repeat 13px center #f2f2f2 !important;
	border-bottom: 1px solid #cccccc !important;
	font-size: 14px !important;
}
html.opera .noplugin-popup a {
	background: #e1e1e1 !important;
	border: 1px solid #adadad !important;
	border-radius: 0px !important;
	font-size: 12px !important;
	margin-top: 7px !important;
	margin-bottom: 7px !important;
	line-height: 20px !important;
}